body {
    background-color: #FFFFFF;
    padding-top: 80px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    -webkit-backface-visibility: hidden;

}

h1, h2, h3 {
    font-family: 'Lobster', serif;
}

.badge-masonry-brick {
    padding: 10px;
    text-align: justify;
}

.badge-masonry-brick img {
    width: 100%;
    margin-bottom: 20px;
}

form.form-horizontal .form-group {
    padding: 0 10px;
}

.big-add-buton {
    position: fixed;
    top: 150px;
    left: 20px;
    font-size: 45px;
    color: #000033;
}

.big-add-buton :hover {
    color: #163A59;
}

.big-add-buton a:hover {
    text-decoration: none;
}

.big-add-buton a span.hidden-description {
    display: none;
    font-size: 18px;
    font-family: 'Lobster', serif;
    text-decoration: none;
    position: relative;
    bottom: 18px;
}

.big-add-buton:hover span.hidden-description {
    display: inline;
}

img.gravatar-profile {
    margin-right: 10px;
}