{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div ng-controller="BadgesController">
        <div class = "big-add-buton"><a href = "{% url "badges:badge_create" %}"><span class = "glyphicon glyphicon-plus-sign"></span> <span class = "hidden-description">Adaugă și povestea ta</span></a></div>
        <div masonry item-selector=".badge-masonry-brick">
            <div masonry-brick class="badge-masonry-brick col-md-3 col-xs-6" ng-repeat="badge in badges">
                <img ng-src="/media/[[ badge.imagine ]]" alt="[[ badge.nume_activitate ]]">
                    <strong><a href = "/[[ badge.id ]]/">[[ badge.nume_activitate ]] [[ badge.an_activitate ]]</a></strong><br>
                    <span style="font-size: 10px; color: #333;"><em am-time-ago="badge.timestamp"></em> de [[ badge.poster.full_name ? badge.poster.full_name : badge.poster.username ]]</span><br>
                    <small>[[ badge.amintire | limitTo: 300 ]] [[ badge.amintire.length > 300 ? "..." : "" ]]</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
