{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div ng-controller="BadgesController">
        <div class = "big-add-button"><a href = "{% url "badges:badge_create" %}"><span class = "glyphicon glyphicon-plus-sign"></span> <span class = "hidden-description">Adaugă și povestea ta</span></a></div>
        <div masonry item-selector=".badge-masonry-brick" infinite-scroll="load_more_badges()" infinite-scroll-distance="3">
            <div masonry-brick class="badge-masonry-brick col-md-3 col-xs-6" ng-repeat="event in evenimente">
                <a href = "/[[ event.id ]]/"><img ng-src="[[ event.imagine ]]" alt="[[ event.nume ]]"></a>
                <div class = "badge-toolbox">
                    <div class = "big-append-button" ng-show="!user_in_event(event)"><a href = "/append/[[ event.id ]]/"><span class = "glyphicon glyphicon-plus-sign"></span></a></div>
                    <div class = "already-checked" ng-show="user_in_event(event)"><span class = "glyphicon glyphicon-ok"></span></div>
{#                    <div><a href = "#"><span class = "glyphicon glyphicon-ok"></span></a></div>#}
                </div>
                <div class = "facebook"><a target="_blank" href ="[[ event.facebook_link ]]"><i class = "fa fa-facebook"></i></a></div>
                <div class = "twitter"><a target="_blank" href = "[[ event.twitter_link ]]"><i class = "fa fa-twitter"></i></a></div>
                <div class = "badge-contents">
                    <h2><a href = "/[[ event.id ]]/">[[ event.nume ]] [[ event.an ]]</a></h2>
                    <span style="font-size: 10px; color: #333;"><em am-time-ago="event.poveste.timestamp_processed" am-preprocess="unix"></em> de [[ event.poveste.poster.full_name ? event.poveste.poster.full_name : event.poveste.poster.username ]]</span><br>
                    <small>[[ event.poveste.amintire | limitTo: 300 ]] [[ event.poveste.amintire.length > 300 ? "..." : "" ]]</small>
                    <div class = "stats">[[ cercetasi_aici(event) ]]</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}