{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div ng-controller="BadgeController">

    </div>
{% endblock %}

{% block extrajs %}
    <script src = "{% static 'jquery-bridget/jquery.bridget.js' %}"></script>
    <script src = "{% static 'get-style-property/get-style-property.js' %}"></script>
    <script src = "{% static 'get-size/get-size.js' %}"></script>
    <script src = "{% static 'eventEmitter/EventEmitter.js' %}"></script>
    <script src = "{% static 'eventie/eventie.js' %}"></script>
    <script src = "{% static 'doc-ready/doc-ready.js' %}"></script>
    <script src = "{% static 'matches-selector/matches-selector.js' %}"></script>
    <script src = "{% static 'outlayer/item.js' %}"></script>
    <script src = "{% static 'outlayer/outlayer.js' %}"></script>
    <script src = "{% static 'masonry/masonry.js' %}"></script>
    <script src = "{% static 'imagesloaded/imagesloaded.js' %}"></script>
    <script src = "{% static 'angular-masonry/angular-masonry.js' %}"></script>
{% endblock %}